.content {
    width: 1200px;
    height: 690px;
    background-color: #fff;

    .top {
        height: 66px;
        display: flex;
        align-items: center;
    }

    .detail {
        padding-left: 2px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

}

.change_page {

    :global(.ant-pagination) {
        text-align: right;
        margin-top: 15px;
    }
}

// 未搜索到结果的提示
.tips {
    position: absolute;
    left: 546px;
    top: 90px;
    font-size: 16px;
    color: #aaa;
}