* {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

h1, body {
    margin: 0;
    padding: 0;
    background-color: #F6F7FB;
}

ul,li {
    list-style: none;
    padding-left: 0;
}

/* 设置placeholder的默认颜色 */
::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
}